.aws__partner {
    background: var(--blue-light-color);
    padding: 80px 0;
}

.aws__partner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.header-partner {
    color: var(--light-60-color);
    font-weight: 400;
    max-width: 100%;
}

.header-partner-accent {
    color: var(--dark-deep-color);
    font-weight: 600;
}

.aws-partner-generative-ai {
    width: 6rem;
}

.aws-value {
    width: 16rem;
}

@media (min-width: 640px) {
    .aws__partner-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }
}