.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; /* Начинаем от левого края экрана */
    top: 0; /* Начинаем от верхнего края экрана */
    width: 100%; /* Покрываем всю ширину экрана */
    height: 100%; /* Покрываем всю высоту экрана */
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон за модальным окном */
}

.modal-content {
    background-color: #fefefe;
    padding: 16px; /* Устанавливаем внутренние отступы 80px со всех сторон */
    border: 1px solid #888;
    width: 80%; /* Ширина содержимого относительно ширины модального окна */
    margin: auto; /* Центрируем содержимое в модальном окне */
    position: relative; /* Относительное позиционирование для внутренней структуры */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Смещение по вертикали для точного центрирования */
    display: flex; /* Flexbox для управления внутренней структурой */
    flex-direction: column; /* Элементы в колонку */
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: center; /* Центрирование элементов по вертикали */
}

.modal-content p {
    margin-bottom: 24px; /* Добавляем отступ снизу к параграфу */
    text-align: center;
}

@media (min-width: 768px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0; /* Начинаем от левого края экрана */
        top: 0; /* Начинаем от верхнего края экрана */
        width: 100%; /* Покрываем всю ширину экрана */
        height: 100%; /* Покрываем всю высоту экрана */
        background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон за модальным окном */
    }

    .modal-content {
        background-color: #fefefe;
        padding: 40px; /* Устанавливаем внутренние отступы 80px со всех сторон */
        border: 1px solid #888;
        width: 50%; /* Ширина содержимого относительно ширины модального окна */
        margin: auto; /* Центрируем содержимое в модальном окне */
        position: relative; /* Относительное позиционирование для внутренней структуры */
        top: 50%; /* Центрируем по вертикали */
        transform: translateY(-50%); /* Смещение по вертикали для точного центрирования */
        display: flex; /* Flexbox для управления внутренней структурой */
        flex-direction: column; /* Элементы в колонку */
        align-items: center; /* Центрирование элементов по горизонтали */
        justify-content: center; /* Центрирование элементов по вертикали */
    }

    .modal-content p {
        margin-bottom: 24px; /* Добавляем отступ снизу к параграфу */
    }
}